<div class="container">
    <table id="listtable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="l in lists" id={{l._id}}>
                <td>{{l._id}}</td>
                <td>{{l.title}}</td>
                <td>
                    <a class="btn btn-outline-success" href='#/lists/{{l._id}}' + {{c}}>View</a> 
                    <a class="btn btn-outline-warning"  href='#/lists/edit/{{l._id}}' >Edit</a> 
                    <a class="btn btn-outline-danger" ng-click=deleteList(l._id) >Delete</a> 
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="#/create/lists">Create new list</a>

</div>